# Ignore virtual environment folder
.venv/
myenv/

# Ignore IDE files
.vscode/
*.pyc

# Ignore any compiled Python files
*.pyc
__pycache__/
shape_predictor_68_face_landmarks.dat/
# Ignore environment-specific settings
.env

# Ignore any local development settings
*.log
